.hljs {
  color: var(--arb-fg-dark);
  background: transparent;
}

.hljs-comment,
.hljs-doctag {
  color: var(--arb-c-dark);
  font-style: italic;
}

.hljs-keyword {
  color: var(--arb-k-dark);
}

.hljs-string,
.hljs-template-tag {
  color: var(--arb-s-dark);
}

.hljs-char.escape {
  color: var(--arb-se-dark);
}

.hljs-regexp {
  color: var(--arb-rx-dark);
}

.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-title.class_ {
  color: var(--arb-t-dark);
}

.hljs-title.function_ {
  color: var(--arb-f-dark);
}

.hljs-attr,
.hljs-attribute {
  color: var(--arb-at-dark);
}

.hljs-property,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo {
  color: var(--arb-pr-dark);
}

.hljs-selector-tag,
.hljs-name,
.hljs-tag {
  color: var(--arb-tg-dark);
}

.hljs-variable,
.hljs-template-variable,
.hljs-subst {
  color: var(--arb-v-dark);
}

.hljs-variable.language_ {
  color: var(--arb-vb-dark);
}

.hljs-params {
  color: var(--arb-vp-dark);
}

.hljs-literal,
.hljs-symbol,
.hljs-variable.constant_ {
  color: var(--arb-co-dark);
}

.hljs-number {
  color: var(--arb-n-dark);
}

.hljs-operator {
  color: var(--arb-o-dark);
}

.hljs-punctuation,
.hljs-bullet,
.hljs-quote {
  color: var(--arb-p-dark);
}

.hljs-meta {
  color: var(--arb-m-dark);
}

.hljs-section,
.hljs-title {
  color: var(--arb-tt-dark);
}

.hljs-link {
  color: var(--arb-tu-dark);
}

.hljs-code,
.hljs-formula {
  color: var(--arb-tl-dark);
}

.hljs-addition {
  color: var(--arb-s-dark);
}

.hljs-deletion {
  color: var(--arb-ss-dark);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}
